In [1]:
import os

In [2]:
os.chdir('../../../Downloads')

In [3]:
import pandas as pd

In [4]:
with open('vivino_scripts.txt','r', encoding="utf8") as f:
    los=f.readlines()

In [5]:
rlos=[eval(i) for i in los]

In [6]:
sample=rlos[0]

In [7]:
sample.keys()

dict_keys(['vintage', 'price', 'highlights', 'merchant', 'shipping_message', 'sold_out', 'available_vintage_year', 'carts', 'prices_and_availability', 'basic_user_vintage', 'price_range', 'is_deal_page'])

In [9]:
sample['highlights'];

In [75]:
sample['vintage'];

In [15]:
pd.json_normalize(sample['prices_and_availability'])

,merchants_with_prices,market.country,market.currency.code,market.currency.name,market.currency.prefix,market.currency.suffix,availability.vintage.id,availability.vintage.year,availability.vintage.grapes,availability.vintage.has_valid_ratings,availability.median.amount,availability.median.type,availability.median.discounted_from,availability.price.id,availability.price.amount,availability.price.discounted_from,availability.price.type
0,"[{'merchant': {'id': 23215, 'name': 'Chez le C...",fr,EUR,Euros,€,None,14201617,2015,None,False,23.33,market,None,20051117,19.5,0.0,vc

In [74]:
pd.json_normalize(sample['prices_and_availability']['merchants_with_prices'])['prices'][6];

# Table generation

## Wines

In [39]:
sample['vintage'].keys()

dict_keys(['id', 'seo_name', 'name', 'statistics', 'organic_certification_id', 'certified_biodynamic', 'image', 'wine', 'description', 'expert_reviews', 'wine_critic_reviews', 'awards', 'ratings_distribution', 'ranking', 'top_list_rankings', 'wine_facts', 'winemaker', 'wine_maker', 'grape_composition', 'year', 'grapes', 'has_valid_ratings'])

In [73]:
sample['vintage']['wine'];

In [10]:
wines=[{key:sample['vintage'][key] for key in ('id', 'name', 'organic_certification_id', 'certified_biodynamic', 
 'wine', 'description', 'expert_reviews', 'wine_critic_reviews', 'awards', 'ratings_distribution', 
 'ranking', 'top_list_rankings', 'wine_facts', 'grape_composition', 'year',
 'grapes', 'has_valid_ratings')} for sample in rlos]

In [11]:
wines_df=pd.DataFrame(wines)

In [77]:
wines_df.to_csv('wines_df')

In [12]:
wines_df.head()

,id,name,organic_certification_id,certified_biodynamic,wine,description,expert_reviews,wine_critic_reviews,awards,ratings_distribution,ranking,top_list_rankings,wine_facts,grape_composition,year,grapes,has_valid_ratings
0,14201617,Marqués de Riscal Rioja Reserva 2015,None,False,"{'id': 1163903, 'name': 'Rioja Reserva', 'seo_...",,None,"[{'id': 3505777, 'wine_critic_id': 130, 'score...",[],"{'1': 54, '2': 175, '3': 2135, '4': 7567, '5':...",{'country': {'description': 'Classement en/au ...,"[{'rank': 4, 'previous_rank': 4, 'description'...","{'alcohol': 14, 'residual_sugar_grams_per_lite...",{'19': 100},2015,"[{'id': 19, 'name': 'Tempranillo', 'seo_name':...",True
1,14201617,Marqués de Riscal Rioja Reserva 2015,None,False,"{'id': 1163903, 'name': 'Rioja Reserva', 'seo_...",,None,"[{'id': 3505777, 'wine_critic_id': 130, 'score...",[],"{'1': 54, '2': 175, '3': 2135, '4': 7567, '5':...",{'country': {'description': 'Classement en/au ...,"[{'rank': 4, 'previous_rank': 4, 'description'...","{'alcohol': 14, 'residual_sugar_grams_per_lite...",{'19': 100},2015,"[{'id': 19, 'name': 'Tempranillo', 'seo_name':...",True
2,14201617,Marqués de Riscal Rioja Reserva 2015,None,False,"{'id': 1163903, 'name': 'Rioja Reserva', 'seo_...",,None,"[{'id': 3505777, 'wine_critic_id': 130, 'score...",[],"{'1': 54, '2': 175, '3': 2135, '4': 7567, '5':...",{'country': {'description': 'Classement en/au ...,"[{'rank': 4, 'previous_rank': 4, 'description'...","{'alcohol': 14, 'residual_sugar_grams_per_lite...",{'19': 100},2015,"[{'id': 19, 'name': 'Tempranillo', 'seo_name':...",True
3,14201617,Marqués de Riscal Rioja Reserva 2015,None,False,"{'id': 1163903, 'name': 'Rioja Reserva', 'seo_...",,None,"[{'id': 3505777, 'wine_critic_id': 130, 'score...",[],"{'1': 54, '2': 175, '3': 2135, '4': 7567, '5':...",{'country': {'description': 'Classement en/au ...,"[{'rank': 4, 'previous_rank': 4, 'description'...","{'alcohol': 14, 'residual_sugar_grams_per_lite...",{'19': 100},2015,"[{'id': 19, 'name': 'Tempranillo', 'seo_name':...",True
4,14201617,Marqués de Riscal Rioja Reserva 2015,None,False,"{'id': 1163903, 'name': 'Rioja Reserva', 'seo_...",,None,"[{'id': 3505777, 'wine_critic_id': 130, 'score...",[],"{'1': 54, '2': 175, '3': 2135, '4': 7567, '5':...",{'country': {'description': 'Classement en/au ...,"[{'rank': 4, 'previous_rank': 4, 'description'...","{'alcohol': 14, 'residual_sugar_grams_per_lite...",{'19': 100},2015,"[{'id': 19, 'name': 'Tempranillo', 'seo_name':...",True