# Collections and Strings

## Collections
    * lists
    * tuples
    * sets
    * dictionaries

### Lists

In [2]:
lst=[]
lst

[]

In [6]:
lst=list()
lst

[]

In [4]:
lst=[1,2,3]
lst

[1, 2, 3]

In [7]:
lst=list(range(10))
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
lst2=[]
for i in lst:
    lst2.append((i**2-4)/11)
lst2

[-0.36363636363636365,
 -0.2727272727272727,
 0.0,
 0.45454545454545453,
 1.0909090909090908,
 1.9090909090909092,
 2.909090909090909,
 4.090909090909091,
 5.454545454545454,
 7.0]

In [13]:
[lst,lst2] # list of lists

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [-0.36363636363636365,
  -0.2727272727272727,
  0.0,
  0.45454545454545453,
  1.0909090909090908,
  1.9090909090909092,
  2.909090909090909,
  4.090909090909091,
  5.454545454545454,
  7.0]]

In [14]:
len(lst)

10

In [15]:
len(lst2)

10

In [16]:
lst=['cargo','bat','zoom']

In [17]:
lst

['cargo', 'bat', 'zoom']

In [19]:
lst.append('alpha')

In [21]:
lst.remove('zoom')

In [22]:
lst

['cargo', 'bat', 'sea', 'alpha']

In [23]:
lst.remove('zoom')

ValueError: list.remove(x): x not in list

In [24]:
lst

['cargo', 'bat', 'sea', 'alpha']

In [27]:
lst+lst2

['cargo',
 'bat',
 'sea',
 'alpha',
 -0.36363636363636365,
 -0.2727272727272727,
 0.0,
 0.45454545454545453,
 1.0909090909090908,
 1.9090909090909092,
 2.909090909090909,
 4.090909090909091,
 5.454545454545454,
 7.0]

In [28]:
lst+['dumpling']

['cargo', 'bat', 'sea', 'alpha', 'dumpling']

In [29]:
'dumpling' in lst

False

In [30]:
'dumpling' not in lst

True

In [31]:
not 'dumpling' in lst

True

In [32]:
not 'dumpling'

False

In [33]:
False in lst

False

In [34]:
'dumpling' in lst

False

In [35]:
not False

True

In [36]:
sum(lst2)

22.272727272727273

In [37]:
min(lst2)

-0.36363636363636365

In [38]:
max(lst2)

7.0

In [39]:
len(lst2)

10

In [40]:
lst.sort()

In [41]:
lst

['alpha', 'bat', 'cargo', 'sea']

In [42]:
lst.sort(reverse=True)

In [43]:
lst

['sea', 'cargo', 'bat', 'alpha']

In [44]:
lst2.sort(reverse=True)

In [45]:
lst2

[7.0,
 5.454545454545454,
 4.090909090909091,
 2.909090909090909,
 1.9090909090909092,
 1.0909090909090908,
 0.45454545454545453,
 0.0,
 -0.2727272727272727,
 -0.36363636363636365]

### Tuple

In [46]:
chocolates = ('dark','milk','semi sweet')

In [47]:
type(chocolates)

tuple

In [48]:
chocolates[1]

'milk'

In [50]:
chocolates[2]='caramel filled'

TypeError: 'tuple' object does not support item assignment

In [49]:
chocolates[3]='caramel filled'

TypeError: 'tuple' object does not support item assignment

In [51]:
len(chocolates)

3

In [52]:
chocolates[10]

IndexError: tuple index out of range

In [53]:
for chocolate in chocolates:
    print(chocolate)

dark
milk
semi sweet

In [54]:
lst3=list(chocolates)

In [55]:
lst3.append('caramel filled')
lst3

['dark', 'milk', 'semi sweet', 'caramel filled']

In [56]:
tuple(lst3)

('dark', 'milk', 'semi sweet', 'caramel filled')

In [57]:
i,j,k=chocolates

In [58]:
print(i)
print(k)
print(j)

dark
semi sweet
milk

In [59]:
q,w,e,r=lst3
print(r)

caramel filled

In [63]:
q,w=(lst,lst3)

In [65]:
q==lst

True

In [66]:
q is lst

True

### Sets

In [67]:
st={}
type(st)

dict

In [68]:
st=set()
type(st)

set

In [69]:
lst4=[]
for i in range(20):
    lst4.append(i%2)

In [70]:
lst4

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

In [73]:
st=set(lst4)
st

{0, 1}

In [85]:
s1={1,2,3,4}
s2={3,4,5,6}

<img src='https://i.ytimg.com/vi/sdflTUW6gHo/maxresdefault.jpg' width='400px'>

In [86]:
s1 | s2 # union

{1, 2, 3, 4, 5, 6}

In [87]:
s1 & s2 #intersection

{3, 4}

In [88]:
s1 or s2

{1, 2, 3, 4}

In [89]:
s1 and s2

{3, 4, 5, 6}

In [90]:
s1.intersection(s2)

{3, 4}

In [91]:
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [92]:
s1.difference(s2)

{1, 2}

In [93]:
s1.symmetric_difference(s2)

{1, 2, 5, 6}

In [94]:
s1.issubset(s2)

False

In [96]:
{3,4}.issubset(s1)

True

In [97]:
s1.issuperset({1,2})

True

In [98]:
s1-s2

{1, 2}

In [99]:
s2-s1

{5, 6}

In [100]:
s1+s2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [105]:
1 in s1

True

In [106]:
txt1='the quick brown fox jumps over the lazy dog'
txt2='the big bang theory'

What are the common letters?

In [108]:
s=[]
for i in txt1:
    for j in txt2:
        if i==j:
            s.append(j)

In [110]:
print(s)

['t', 't', 'h', 'h', 'e', 'e', ' ', ' ', ' ', 'i', ' ', ' ', ' ', 'b', 'b', 'r', 'o', 'n', ' ', ' ', ' ', 'o', ' ', ' ', ' ', ' ', ' ', ' ', 'o', 'e', 'e', 'r', ' ', ' ', ' ', 't', 't', 'h', 'h', 'e', 'e', ' ', ' ', ' ', 'a', 'y', ' ', ' ', ' ', 'o', 'g', 'g']

In [111]:
print(set(s))

{'b', 'e', ' ', 'n', 'y', 'a', 'r', 'h', 'o', 'g', 't', 'i'}

In [107]:
set(txt1) & set(txt2)

{' ', 'a', 'b', 'e', 'g', 'h', 'i', 'n', 'o', 'r', 't', 'y'}

In [112]:
set1[1]

NameError: name 'set1' is not defined

In [113]:
set1={0,1,'!','ertyu','2b','y1y2eioh12oi',25}

In [114]:
set1

{'!', 0, 1, 25, '2b', 'ertyu', 'y1y2eioh12oi'}

In [115]:
for i in set1:
    print(i)

0
1
!
2b
y1y2eioh12oi
ertyu
25

In [139]:
set1.remove('!')

In [140]:
set1

{0, 1, 25, '2b', 'ertyu', 'y1y2eioh12oi'}

### Dictionaries

In [117]:
chocolates

('dark', 'milk', 'semi sweet')

In [116]:
brands=['Lindt','Nestle','Poulain']

In [118]:
dct={}
type(dct)

dict

In [120]:
dct={'dark':'Lindt'}
dct

{'dark': 'Lindt'}

In [121]:
for i in range(len(brands)):
    print(i,brands[i],chocolates[i])

0 Lindt dark
1 Nestle milk
2 Poulain semi sweet

In [122]:
dct={}
for i in range(len(brands)):
    dct.append((chocolates[i],brands[i]))

AttributeError: 'dict' object has no attribute 'append'

In [127]:
dct={}
for i in range(len(brands)):
    dct.update({chocolates[i]:brands[i]})

In [128]:
dct

{'dark': 'Lindt', 'milk': 'Nestle', 'semi sweet': 'Poulain'}

In [129]:
dct={}
for i in range(len(brands)):
    dct[chocolates[i]]=brands[i]

In [130]:
dct

{'dark': 'Lindt', 'milk': 'Nestle', 'semi sweet': 'Poulain'}

In [131]:
dct['dark']='Lindt'
dct['milk']='Nestle'

In [132]:
dct

{'dark': 'Lindt', 'milk': 'Nestle', 'semi sweet': 'Poulain'}

In [133]:
dct.update({'Kinder':'Kinder surprise'})

In [134]:
dct

{'dark': 'Lindt',
 'milk': 'Nestle',
 'semi sweet': 'Poulain',
 'Kinder': 'Kinder surprise'}

In [135]:
dct.update({'milk':'Catberry'})

In [136]:
dct

{'dark': 'Lindt',
 'milk': 'Catberry',
 'semi sweet': 'Poulain',
 'Kinder': 'Kinder surprise'}

In [137]:
dct.remove('Kinder')

AttributeError: 'dict' object has no attribute 'remove'

In [141]:
del dct['Kinder']

In [142]:
dct

{'dark': 'Lindt', 'milk': 'Catberry', 'semi sweet': 'Poulain'}

In [143]:
dct.pop('dark')

'Lindt'

In [144]:
dct

{'milk': 'Catberry', 'semi sweet': 'Poulain'}

In [145]:
dct['white']=dct.pop('milk')

In [146]:
dct

{'semi sweet': 'Poulain', 'white': 'Catberry'}